**/__pycache__
*.DS_Store

# common editors
.idea
.vscode
.ipynb_checkpoints
.history

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.cache

*.log

data/*
test/
runs/
predict/
net/*
*.pth
checkpoints/*
log/try_training
src
train
train.sh 
train_distill.sh 
predict.sh 
predict.py
temp.py 


local_settings.py
local_test/*
font/*
!rt_video_streaming/algo_action/lib
!log/*.log
!checkpoints/*.pth
!evaluation_online/*.pth
!data/*.txt
!/net/dilate_eunet